// Global
@import './global/variables';
@import './global/mixins';

// Base
@import './base/base';

// Components
@import './components/global/header';
@import './components/modules/about-area';
@import './components/modules/promotion-area';
